<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>

    <form (ngSubmit)="onSubmit()">
      <!-- Username Input -->
      <mat-form-field class="input-field" appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          [(ngModel)]="model.email"
          name="email"
          type="email"
          required
          [pattern]="emailPattern"
        />
        <mat-error *ngIf="!model.email">Email is required</mat-error>
        <mat-error *ngIf="model.email && !model.email.match(emailPattern)"
          >Please enter a valid email address</mat-error
        >
      </mat-form-field>

      <!-- Password Input -->
      <mat-form-field class="input-field" appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          [(ngModel)]="model.password"
          name="password"
          type="password"
          required
          [pattern]="passwordPattern"
        />
        <mat-error *ngIf="!model.password">Password is required</mat-error>
        <mat-error
          *ngIf="model.password && !model.password.match(passwordPattern)"
        >
          Password must contain at least one uppercase letter, one special
          character, and one number.
        </mat-error>
      </mat-form-field>

      <div class="login-actions">
        <button mat-raised-button color="primary" type="submit">Log In</button>
        <a href="#" class="forgot-password">Forgotten Password?</a>
      </div>
    </form>

    <div class="register">
      <p>Don’t have an account? <a href="#">Register</a></p>
    </div>
  </div>

  <div class="right-side">
    <div class="logo-container">
      <img src="assets/school-logo.png" alt="School Logo" class="logo" />
      <h3>School Demo</h3>
    </div>
  </div>
</div>
