<h2 mat-dialog-title>Đổi mật khẩu</h2>
<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Mật khẩu hiện tại</mat-label>
    <input
      matInput
      [type]="hideCurrentPassword ? 'password' : 'text'"
      formControlName="currentPassword"
      required
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      aria-label="Ẩn/hiện mật khẩu hiện tại"
      (click)="toggleCurrentPasswordVisibility()"
    >
      <mat-icon>{{
        hideCurrentPassword ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
    <mat-error
      *ngIf="changePasswordForm.get('currentPassword')?.hasError('required')"
      >Không được để trống</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Mật khẩu mới</mat-label>
    <input
      matInput
      [type]="hideNewPassword ? 'password' : 'text'"
      formControlName="newPassword"
      required
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      aria-label="Ẩn/hiện mật khẩu mới"
      (click)="toggleNewPasswordVisibility()"
    >
      <mat-icon>{{
        hideNewPassword ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
    <mat-error
      *ngIf="changePasswordForm.get('newPassword')?.hasError('required')"
    >
      Không được để trống
    </mat-error>
    <mat-error
      *ngIf="changePasswordForm.get('newPassword')?.hasError('pattern')"
    >
      Mật khẩu phải từ 8 ký tự trở lên, có ít nhất 1 chữ hoa, 1 ký tự đặc biệt,
      1 số
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Xác nhận mật khẩu mới</mat-label>
    <input
      matInput
      [type]="hideConfirmPassword ? 'password' : 'text'"
      formControlName="confirmPassword"
      required
    />
    <button
      mat-icon-button
      matSuffix
      type="button"
      aria-label="Ẩn/hiện xác nhận mật khẩu"
      (click)="toggleConfirmPasswordVisibility()"
    >
      <mat-icon>{{
        hideConfirmPassword ? "visibility_off" : "visibility"
      }}</mat-icon>
    </button>
    <mat-error
      *ngIf="changePasswordForm.get('confirmPassword')?.hasError('required')"
    >
      Không được để trống
    </mat-error>
    <mat-error *ngIf="changePasswordForm.hasError('passwordMismatch')">
      Mật khẩu xác nhận không khớp
    </mat-error>
  </mat-form-field>

  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Hủy</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="changePasswordForm.invalid"
    >
      Cập nhật
    </button>
  </div>
</form>
