<div class="user-quiz-detail-container" *ngIf="userQuizDetail">
  <div class="back-btn-container">
    <button mat-stroked-button color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      Quay lại
    </button>
  </div>
  <div class="user-quiz-detail-info">
    <h2>Kỳ thi: {{ userQuizDetail.examName }}</h2>
    <h3>Đề thi: {{ userQuizDetail.quizName }}</h3>
    <p>
      Sinh viên: {{ userQuizDetail.fullName }} ({{
        userQuizDetail.studentCode
      }})
    </p>
    <p>Điểm: {{ userQuizDetail.score }}</p>
  </div>
  <div class="user-quiz-detail-wrapper">
    <div
      class="question-list-sidebar"
      *ngIf="userQuizDetail?.questions?.length"
    >
      <ul>
        <li
          *ngFor="let question of userQuizDetail.questions; let i = index"
          [class.active]="i === activeQuestionIndex"
          (click)="setActiveQuestion(i)"
        >
          Câu {{ i + 1 }} - {{ question.score }}đ
          <span
            [class.correct]="isQuestionCorrect(question)"
            [class.incorrect]="!isQuestionCorrect(question)"
          >
            {{ isQuestionCorrect(question) ? "Đúng" : "Sai" }}
          </span>
        </li>
      </ul>
    </div>

    <div class="question-detail" *ngIf="activeQuestion as question">
      <h3>Câu hỏi {{ activeQuestionIndex + 1 }}:</h3>
      <p>{{ question.content }}</p>

      <div class="answers">
        <div
          *ngFor="let answer of question.answers; let i = index"
          [ngClass]="{
            'answer-correct': answer.isCorrect,
            'answer-selected': isAnswerSelected(answer.id, activeQuestion!),
            'answer-wrong':
              isAnswerSelected(answer.id, activeQuestion!) && !answer.isCorrect
          }"
        >
          <strong>{{ alphabet[i] }}.</strong> {{ answer.content }}

          <span *ngIf="answer.isCorrect" class="label-correct"
            >Đáp án đúng</span
          >
          <span
            *ngIf="isAnswerSelected(answer.id, question) && !answer.isCorrect"
            class="label-wrong"
          >
            Đáp án của bạn
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
