<div
  class="sidenav-overlay"
  [class.visible]="isMobileMenuOpen"
  (click)="closeMobileMenu()"
></div>

<div
  class="sidenav-container"
  [class.mobile-hidden]="!isMobileMenuOpen"
  [class.mobile-visible]="isMobileMenuOpen"
>
  <mat-nav-list>
    <!-- Navigation Items -->
    <mat-list-item
      *ngFor="let item of navItems"
      [routerLink]="item.route"
      routerLinkActive="active"
      (click)="onNavItemClick(item)"
    >
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.name }}</span>
    </mat-list-item>
  </mat-nav-list>
</div>
