:host {
  display: block;
  max-width: 450px;
}

.title {
  color: #ff9800;
  font-weight: 700;
}

.mat-typography {
  font-size: 1rem;
  line-height: 1.5rem;
}

mat-dialog-actions {
  margin: 16px -24px -24px;
  padding: 16px 24px;
  gap: 8px;
}
